<!-- Experience Tags -->
<ul>
  <% if @mood_taggings.present? %>
    <% @mood_taggings.each do |tagging| %>
      <li class='tag tag__experience'>
        <%= tagging.tag.name %>
      </li>
    <% end %>
  <% end %>
  <% if @feeling_taggings.present? %>
    <% @feeling_taggings.each do |tagging| %>
      <li class='tag tag__experience'>
        <%= tagging.tag.name %>
      </li>
    <% end %>
  <% end %>
  <% if @ambience_taggings.present? %>
    <% @ambience_taggings.each do |tagging| %>
      <li class='tag tag__experience'>
        <%= tagging.tag.name %>
      </li>
    <% end %>
  <% end %>
</ul>

<!-- Location Tags -->
<ul>
  <% if @location_taggings.present? %>
    <% @location_taggings.each do |tagging| %>
      <li class='tag tag__location'>
        <%= tagging.tag.name %>
      </li>
    <% end %>
  <% end %>
</ul>

<!-- Other Tags -->
<ul>
  <% if @other_taggings.present? %>
    <% @other_taggings.each do |tagging| %>
      <li class='tag tag__other'>
        <%= tagging.tag.name %>
      </li>
    <% end %>
  <% end %>
</ul>
