<div class="container__contents">
  <section class="container__two-third-height">
    <div class="photo-container">
      <%= render 'shared/photos' %>
    </div>
  </section>
    <%= simple_form_for(@story) do |f| %>
      <%= f.error_notification %>
      <%= f.input :title,
                  required: true,
                  input_html: { placeholder: "#{@story.title ? @story.title : 'Add a title'}" } %>

      <%= f.button :submit, "save", class: 'button button__confirm' %>
    <% end %>
</div>

<footer>
  <div class="button-container">
    <%= link_to "edit tags", story_taggings_path(@story), class: 'button button__edit button__left' %>
    <%= link_to "edit ratings", experience_story_path(@story), class: 'button button__edit button__right' %>
  </div>
</footer>
