<div class="container__contents">
  <%= simple_form_for(@story) do |f| %>
    <%= f.error_notification %>
    <%= f.input :photos,
                as: :file,
                required: true,
                input_html: { multiple: true } %>
    <%= f.input :latitude,
                as: :hidden,
                required: false,
                input_html: { autocomplete: 'latitude' } %>
    <%= f.input :longitude,
                as: :hidden,
                required: false,
                input_html: { autocomplete: 'longitude' } %>
    <p id='js-geolocation_notice'>(Geolocation will be captured automatically)</p>
    <div class="footer">
      <div class="button-container">
        <%= f.button :submit, "create story", class: 'button button__confirm' %>
      </div>
    </div>
  <% end %>
</div>

