<div class="container__contents">
  <section class="photo-carousel container__two-third-height">
    <div class="photo-container">
      <%= render 'shared/photos' %>
    </div>
  </section>
  <div class="carousel-nav">
    <%= render 'shared/carousel-btn' %>
  </div>

  <section class="story-info">
    <div class="story-info__title">
      <%= render 'shared/story-title' %>
    </div>
    <div class="story-info__tag-list">
      <%= render 'shared/tag-list' %>
    </div>

    <div class="story-info__price-rating">
      <%= render 'shared/pricing' %>
      <%= render 'shared/worth_it' %>
    </div>
  </section>
</div>

<footer>
  <div class="button-container">
    <%= link_to 'Edit Story', edit_story_path(@story), class: 'button button__edit button__left' %>
    <%= link_to "Delete",
  story_path(@story),
  method: :delete,
  data: { confirm: "Are you sure?" }, class: 'button button__delete button__right' %>
  </div>
</footer>
